services:
  teslamate:
    image: teslamate/teslamate:v2.2
    restart: always
    environment:
      - ENCRYPTION_KEY=your-encryption-key-change-me
      - DATABASE_USER=teslamate
      - DATABASE_PASS=teslamate
      - DATABASE_NAME=teslamate
      - DATABASE_HOST=database
      - MQTT_HOST=mosquitto
    ports:
      - "4000:4000"
    volumes:
      - ./import:/opt/app/import
    cap_drop:
      - all

  database:
    image: postgres:18-trixie
    restart: always
    environment:
      - POSTGRES_USER=teslamate
      - POSTGRES_PASSWORD=teslamate
      - POSTGRES_DB=teslamate
    volumes:
      - teslamate-db:/var/lib/postgresql/data

  grafana:
    image: teslamate/grafana:v2.2
    restart: always
    environment:
      - DATABASE_USER=teslamate
      - DATABASE_PASS=teslamate
      - DATABASE_NAME=teslamate
      - DATABASE_HOST=database
    ports:
      - "3000:3000"
    volumes:
      - teslamate-grafana-data:/var/lib/grafana

  mosquitto:
    image: eclipse-mosquitto:2
    restart: always
    command: mosquitto -c /mosquitto-no-auth.conf
    volumes:
      - mosquitto-conf:/mosquitto/config
      - mosquitto-data:/mosquitto/data

  teslamateapi:
    image: mytesla/teslamateapi:latest
    restart: unless-stopped
    depends_on:
      - database
      - teslamate
      - mosquitto
    environment:
      - DATABASE_USER=teslamate
      - DATABASE_PASS=teslamate
      - DATABASE_NAME=teslamate
      - DATABASE_HOST=database
      - ENCRYPTION_KEY=your-encryption-key-change-me
      - MQTT_HOST=mosquitto
      - API_TOKEN=PLEASE-CHANGE-THIS-API-TOKEN-IN-PRODUCTION
    ports:
      - "3030:8080"
    volumes:
      - teslamateapi-data:/opt/app/data

volumes:
  teslamate-db:
  teslamate-grafana-data:
  teslamateapi-data:
  mosquitto-conf:
  mosquitto-data:
